.card__content{
    margin-left: 150px;
    /* margin-top: 64px; */
    color:#164C25 ;
    font-family: 'Koulen', cursive;
    /* padding-bottom: 40px; */
    /* padding: 70px; */

    object-fit: cover;
    transition: all ease 0.5s;
    /* padding-left: 30px;
    padding-right: 30px; */
}
.swiper__container{
    margin-left: 20px;
}



.scroller{
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: 50px;

    white-space:nowrap;
    padding-bottom: 50px;
    padding-left: 100px;
    
    /* text-overflow:ellipsis; */
 
}
/* 
.scroller::-webkit-scrollbar{
    display: none;
} */

/* .test{
    margin-left: 401px;
} */



.add__cart{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    color:#164C25;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Koulen', cursive;
    border-radius: 40px;
}

/* .card__content:hover{ */
    /* border: 1px solid #164C25; */
    /* border-radius: 230px; */
    /* padding: 70px; */
    /* box-shadow: inset; */
    /* box-shadow: 15px 15px 15px 15px  grey; */
    /* transform: scale(0.7); */
    
/* } */




