.input__container h1{
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    font-family: 'Koulen',cursive;
    
    color: #164C25;
    line-height: 77.4px;
}

.input__container{
    padding-right: 550px;
    padding-left: 430px;


}



.link__account p{
    color: #164C25;
    /* text-decoration: underline; */
    font-size: 24px;
    padding-bottom: 20px;
}

.terms__conditions{
    font-size: 20px;
    color: #164C25;
}


.account__fields .input__details{
    width: 620px;
    height: 60px;
    background: #FFFFFF;
    border: 4px solid #164C25;
    border-radius: 40px;
    margin-top: 24px;
    font-size: 24px;
    padding-left: 25px;
}

.account__fields ::placeholder{
    font-family: 'Koulen',cursive;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 26px;
/* identical to box height */


/* Green/Dark */

color: #164C25;

}


.submit__form__btn{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 22px 62px;
width: 256px;
height: 70px;
border: 4px solid #164C25;
border-radius: 40px;
background-color: white;
margin-top: 10px;
font-family: 'Koulen', cursive;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
color: #164C25;
}

.account__fields input:nth-child(1){
    margin-top: 48px;
}

.account__fields{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.link__account{
    padding-top: 20px;
    

}


